@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&family=Roboto+Mono&display=swap');

body{
  background-color: #0B2027;
}

.nav-bar{
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
}

.nav-link{
  color: #CFD7C7;
  font-family: 'Roboto Mono', monospace;
  font-size: small;
  padding-top: 25px;
  padding-right: 25px;
}

.nav-link:hover{
  color: #2CF6B3;
}

.intro{
  display: flex;
  flex-flow: wrap;
  flex-direction: column;
  width: 50%;
  align-content: space-between;
  margin: auto;
  padding-top: 150px;
}

.intro-line{
  font-family: 'Roboto Mono', monospace;
  font-size: 1rem;
  color: #2CF6B3;
}

.intro-hdr{
  font-family: 'Quicksand', sans-serif;
  font-size: 2rem;
  color: #CFD7C7;
}

.intro-par{
  font-family: 'Quicksand', sans-serif;
  font-size: 1rem;
  color: #BBC4B3;
}

.about{
  display: flex;
  flex-flow: wrap;
  flex-direction: column;
  width: 50%;
  align-content: space-between;
  margin: auto;
  padding-top: 500px;
}

.about-me{
  font-family: 'Quicksand', sans-serif;
  font-size: 2rem;
  color: #CFD7C7;
}

.about-par{
  font-family: 'Quicksand', sans-serif;
  font-size: 1rem;
  color: #BBC4B3;
}

.work{
  display: flex;
  flex-flow: wrap;
  flex-direction: column;
  width: 50%;
  align-content: space-between;
  margin: auto;
  padding-top: 500px;
}

.work-hdr{
  font-family: 'Quicksand', sans-serif;
  font-size: 2rem;
  color: #CFD7C7;
}

.work-list{
  font-family: 'Quicksand', sans-serif;
  font-size: 1rem;
  color: #BBC4B3;
}

.years-active{
  color: #2CF6B3;
}

.work-points{
  font-family: 'Quicksand', sans-serif;
  font-size: 1rem;
  color: #BBC4B3;
  text-decoration: none;
}